
  body {
    background-color: #b5b2b2c8;
    margin: 0;
  }

h1{
    color: rgb(4, 104, 141)
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}